.header-attention {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/pexels-cottonbro-studio-3662666.jpg);
}

.main {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.about-content-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.anthem-container {
    margin-top: var(--content-spacing);
}

.acheivement-container {
    margin-top: var(--content-spacing);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.acheivement-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    font-size: 6rem;
    color: var(--main-color);
    font-family: Arial;
}



@media only screen and (max-width: 768px) {

    .about-intro {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .about-content-container {
        margin-right: 1rem;
        margin-left: 1rem;
        grid-template-columns: 1fr;
    }

    .anthem-container {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .acheivement-container {
        margin-right: 1rem;
        margin-left: 1rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 1.5rem;
    }

    .number {
        font-size: 3rem;
    }

}

@media only screen and (min-width: 764px) and (max-width: 855px) {
    .about-content-container, .anthem-container, .acheivement-container {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .acheivement-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .number {
        font-size: 3rem;
    }
}